.stat {
  width: 393px;
  min-height: 100dvh;
  margin: 0 auto;
  position: relative;
  background: #f8f3f0;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 110px;
}

.stat::-webkit-scrollbar {
  display: none;
}

/* 헤더 */

.stat-header {
  width: 360px;
  height: 40px;
  margin: 34px auto 0;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn {
  position: absolute;
  left: 0;
  top: 3px;

  width: 24px;
  height: 24px;

  border: none;
  background: transparent;

  font-size: 30px;
  font-weight: 300;
  line-height: 24px;
  color: #111;
}

.stat-header h1 {
  font-size: 16px;
  font-weight: 700;
  color: #111;
}

/* 제목 */

.stat-title-section {
  width: 360px;
  margin: 20px auto 0;
  text-align: left;
}

.stat-title-section h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #111;
}

.stat-title-section p {
  margin-top: 8px;
  font-size: 13px;
  line-height: 16px;
  color: #8b8b8b;
}

/* 전체 콘텐츠 */

.stat-content {
  width: 360px;
  height: calc(852px - 150px);
  margin: 20px auto 0;
  overflow-y: auto;
  padding-bottom: 110px;
}

/* 성공률 카드 */

.success-card {
  width: 360px;
  min-height: 254px;
  background: #ffffff;
  border-radius: 12px;
  padding: 28px 24px 22px;
}

.stat-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.success-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.success-top h3 {
  font-size: 18px;
  font-weight: 700;
  color: #111;
  text-align: left;
  margin: 0;
}

.success-top p {
  margin-top: 14px;
  font-size: 12px;
  color: #777;
}

/* 원형 차트 */

.circle-chart {
  width: 104px;
  height: 104px;
  border-radius: 50%;

  background: conic-gradient(
    #fe9957 0deg 270deg,
    #ffe6d3 270deg 360deg
  );

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.circle-chart::after {
  content: "";
  width: 82px;
  height: 82px;
  background: white;
  border-radius: 50%;
  position: absolute;
}

.circle-chart span {
  position: relative;
  z-index: 1;

  color: #fe9957;

  font-size: 28px;
  font-weight: 700;
}

.circle-chart small {
  font-size: 16px;
}

/* 작은 카드 */

.mini-cards {
  margin-top: 34px;

  display: flex;
  gap: 12px;
}

.mini-card {
  width: 93px;
  height: 64px;

  background: #fff8f1;
  border-radius: 10px;

  padding: 12px 10px;

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;
}

.mini-card p {
  font-size: 11px;
  line-height: 13px;
  color: #777;
}

.mini-card strong {
  display: block;
  margin-top: 6px;

  font-size: 18px;
  font-weight: 700;
  color: #111;
}

.green {
  color: #8bc86a !important;
}

.orange {
  color: #fe9957 !important;
}

/* 상세 카드 */

.detail-card {
  width: 360px;

  background: #ffffff;
  border-radius: 12px;

  padding: 24px;
  margin-top: 18px;
}

.period {
  width: 100%;
  text-align: left;
}

.period h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #111;
}

.period p {
  margin-top: 8px;

  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  color: #8b8b8b;
}

.divider {
  width: 312px;
  height: 1px;

  background: #eeeeee;

  margin-top: 10px;
  margin-bottom: 18px;
}

.detail-list {
  width: 312px;

  display: flex;
  flex-direction: column;
  gap: 22px;
}

.detail-row {
  width: 312px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}



.detail-row h4 {
  margin: 0;

  text-align: left;

  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #111;
}

.detail-row p {
  margin-top: 7px;

  font-size: 11px;
  line-height: 13px;

  color: #999;
}

.detail-row strong {
  min-width: 60px;

  text-align: right;

  font-size: 22px;
  font-weight: 700;
  line-height: 26px;

  color: #111;
}

/* 하단 네비 - Home이랑 동일 */

.stat-bottom-nav {
  width: 357px;
  height: 60px;

  position: fixed;
  left: 50%;
  bottom: 26px;
  transform: translateX(-50%);

  background: white;
  border-radius: 27px;
  padding: 17px 20px 10px 16px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 0.6px;
  z-index: 999;
}

.stat-nav-item {
  width: 60px;
  height: 44px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;

  color: #333;
  cursor: pointer;
}

.stat-nav-item img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.stat-nav-item.active {
  color: #fe9957;
}

.stat-nav-item.active img {
  width: 17px;
  height: 18px;
}